@model IEnumerable<Universidade.Models.EstudanteViewModel>

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Procurar por nome : <input type="text" name="filtro" value="@ViewData["filtro"]" />
            <input type="submit" value="Procurar" class="btn btn-info btn-sm" />
        </p>
    </div>
</form>

<p>
    <a asp-action="Inserir">Cadastrar estudante</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SobreNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SobreNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.EstudanteID">Editar</a> |
                <a asp-action="Detalhes" asp-route-id="@item.EstudanteID">Detalhes</a> |
                <a asp-action="Excluir" asp-route-id="@item.EstudanteID">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
