@model IEnumerable<Universidade.Models.CursoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Inserir">Cadastrar Curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayName("Departamento")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creditos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeMatriculas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotacaoAlunos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creditos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeMatriculas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotacaoAlunos)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.CursoID">Editar</a> |
                <a href="@Url.Action("Detalhes", "Matriculas", new { id = item.CursoID})">Detalhes</a> |
                <a asp-action="Excluir" asp-route-id="@item.CursoID">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
